<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>数组测试</title>
    <style>
      * {
        padding: 0px;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-for="item in dataList">{{item}}</div>
      <div v-for="item in dataList2">{{item.name}}</div>
    </div>
    <script src="./vue.js"></script>
    <script>
      var vm = new Vue({
        el: '#app',
        data() {
          return {
            dataList: ['Maic', 'Test'],
            dataList2: [
              {
                name: '深圳'
              },
              {
                name: '广州'
              }
            ]
          };
        },
        mounted() {
          debugger;
          // this.dataList[0] = '111';
          this.dataList2[0].name = '北京';
        }
      });
    </script>
  </body>
</html>
